<div class="title">
  <%= @share.stock.name %> share
</div>

<div class="form">
  <%= render 'edit_form', share: @share %>

  <%= link_to 'Details', @share,  class: "btn btn-info" %>
  <%= link_to 'Back', shares_path,  class: "btn btn-primary" %>
</div>
