<div class="account-item">
  <% if @account.stocks_count > 0 %>
    <%= render 'stocks_summary' %>
  <% end %>
</div>

<div class="account-item">
  <% if @account.treasuries_count > 0 %>
    <%= render 'treasuries_summary' %>
  <% end %>
</div>

<div class="account-item">
  <% if @account.stocks_count > 0 %>
    <%= render 'stocks_list' %>
  <% end %>
</div>

<div class="account-item">
  <% if @account.treasuries_count > 0 %>
    <%= render 'treasuries_list' %>
  <% end %>
</div>
