<div class="chart-title">
  Renda Variavél
</div>

<div class="summary-item">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Investido</th>
        <th>Atualizado</th>
        <th>Quantidade</th>
      </tr>
    </thead>
    <tbody>
        <tr>
          <td><%= number_to_currency(@account.sum_invested_stocks, unit: 'R$', separator: ',', delimiter: '.') %></td>
          <td><%= number_to_currency(@account.sum_current_total_stocks, unit: 'R$', separator: ',', delimiter: '.') %></td>
          <td><%= @account.stocks_count %></td>
        </tr>
    </tbody>
  </table>
</div>
