<div class="chart-title">
  Monthly stocks value( last 6 months):
</div>

<div class="summary-chart">
  <%= line_chart account.stocks.map { |stock| {
      name: stock.ticker, data: stock.last_semester_prices
      } }, precision: 8 %>
</div>

<div class="summary-stocks">
  <% account.stocks.each do |stock| %>
    <div class="summary-stock">
      <%= link_to stock.ticker, stock_path(stock), class:"summary-stock" %>
    </div>
  <% end %>
</div>
