<div class="chart-title">
  Monthly stocks value:
</div>

<div class="summary-chart">
  <%= line_chart account.stocks.map { |stock| {
      name: stock.name, data: stock.monthly_price
      } }, precision: 8 %>
</div>

<div class="summary-stocks">
  <% account.stocks.each do |stock| %>
    <div class="summary-stock">
      <%= link_to stock.name, stock_summary_path(stock), class:"summary-stock" %>
    </div>
  <% end %>
</div>
