<div class="title">
  <%= t('.investments') %>
</div>

<br>
<%= link_to t('.treasuries'), treasuries_path, :class => "btn primary-btn ml-3"%>

<%= link_to t('.stocks'), stocks_path, :class => "btn primary-btn ml-3"%>
