<div class="title">
<%= @negotiation.treasury_name %> negtreasury_name/div>

<div class="form">
  <%= render 'form', negotiation: @negotiation %>
  <%= link_to 'Back', negotiations_path, :class => "btn btn-primary" %>
</div>
