<div class="title">
  New negotiation
</div>

<div class="form">
  <%= render 'form', negotiation: @negotiation %>
  <%= link_to 'Back', investments_treasuries_path, :class => "btn btn-primary" %>
</div>
