@import "materialize/components/color-variables";
$primary-color: color("blue", "lighten-2") !default;
// $secondary-color: color("yellow", "base") !default;
$secondary-color: color("lime", "accent-3") !default;
$danger-color: color("red", "accent-3") !default;
@import 'materialize';
@import 'summary';
@import 'accounts';
@import 'forms';

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.title {
  color: $primary-color;
  font-size: 4em;
  margin: 20px 0 20px 20px;
}

footer {
  color: #fff;
  background-color: #64B5F6;
  margin-top: 30px;
}

.primary-btn {
  margin-top: 10px;
  margin-right: 10px;
  background-color: $primary-color;
  color: #fff;
}

.btn-info {
  margin-top: 10px;
  margin-right: 10px;
}

.danger-btn {
  margin-top: 10px;
  margin-right: 10px;
  background-color: $danger-color;
  color: #fff;
}

.chart {
  margin: 20px 0;
}

.dropdown-box {
  background-color: $primary-color;
}

#notice {
  color: $primary-color;
  padding: 15px;
  font-size: x-large;
  background-color: lightgreen;
}
