// Place all the styles related to the Accounts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.radio-btn {
  position: relative !important;
  opacity: initial !important;
  pointer-events: fill !important;
}

.radio-label {
  margin-left: 25px;
}

.form-select {
  margin: 15px 0;
}

.input-group-text {
  position: relative !important;
}

.checkbox-btn {
  position: relative !important;
  opacity: initial !important;
  pointer-events: fill !important;
}
