<div class="title">
  Edit Transaction
</div>

<div class="form">
  <%= render 'form', transaction: Transacton.find(params[:id]) %>

  <%= link_to 'Back', wallet_transactions_path, :class => "btn btn-info" %>
</div>
