<div class="summary-item">
  <p class="summary-subtitle">Incomes and expenses: </p>
  <table class='table table-hover'>
    <thead>
      <tr>
        <th>Month</th>
        <th>Incomes</th>
        <th>Expenses</th>
        <th>Final</th>
      </tr>
    </thead>
    <tbody>
      <% (0...6).each do |n| %>
      <% date = DateTime.current - n.month%>
      <tr>
        <td><%= date.strftime('%B, %Y') %></td>
        <td><%= number_to_currency(@account.incomes(date), unit: 'R$ ', separator: ',', delimiter: '') %></td>
        <td><%= number_to_currency(@account.expenses(date), unit: 'R$ ', separator: ',', delimiter: '') %></td>
        <td><%= number_to_currency(@account.total_balance(date), unit: 'R$ ', separator: ',', delimiter: '') %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>
