<div class="title">
  <%= @account.name %>
</div>

<% if @account.savings? %>
  <%= render 'summary_savings', account: @account %>
<% else %>
  <%= render 'summary_stocks', account: @account %>
  <%= render 'incomes_expenses', account: @account %>
<% end %>
