<div class="title">
  <%= @account.name %>
</div>

<% if @account.savings? %>
  <%= render 'summary_savings' %>
<% else %>
  <%= render 'income_expenses' %>
  <%= render 'summary_stocks' %>
<% end %>
